@font-face {
  font-family: 'OPSans';
  src: url('./../../fonts/OPSans.woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  width: 463px !important;
  font-family: 'OPSans';
}

.main-container {
  width: 463px;
}

.container {
  width: 380px;
  max-height: 40rem;
  margin: auto;
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 1px 9px 12px rgb(246 140 224 / 20%);
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #ff69b4;
  overflow: hidden;
}

.txt-0 {
  text-align: center;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  padding: 0.25rem;
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity));
}

.txt-1 {
  text-align: center;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  padding: 0.25rem;
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity));
}

.QrCode {
  margin: auto;
}

.qr-code {
  width: 18rem;
  height: 18rem;
  margin-left: 2.8rem;
  border-radius: 8px;
  border: 1.5px dashed #fb8bc3;
}
