.account {
  position: relative;
  display: flex;
  margin-bottom: 20px;
  padding: 20px;
  border-bottom-width: 1px;
  border-bottom-color: #ffcee6;
  border-bottom-style: dashed;
  align-items: center;
  justify-content: space-between;
}

.avatar-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.avatar {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  margin-right: 10px;
}

.pendant {
  width: 160px;
  height: 160px;
  position: absolute;
  top: -32px;
  left: -32px;
  z-index: 1;
}

.account-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.nickname {
  font-size: 25px;
  font-weight: bold;
  color: #333;
  margin-left: 10px;
}

.timestamp {
  font-size: 16px;
  color: #666;
  margin-top: 5px;
  margin-left: 10px;
}

.logo-container {
  display: flex;
  flex-direction: column;
}

.bilibili-logo,
.weibo-logo {
  margin-left: 10px;
}

.weibo-logo {
  max-width: 55px;
}