@font-face {
  font-family: "iconfont";
  src: url("./../../fonts/iconfont.16acc2.ttf");
  font-weight: normal;
  font-style: normal;
}

.content {
  font-size: 20px;
  color: #333;
  margin-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.content-text {
  font-family: "iconfont";
}

.content img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/*自适应九宫格*/
.pic-content {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.pic-item {
/*   flex: 1 0 calc(33.3333% - 10px); */
  margin: 2px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.pic-item:after {
  display: block;
  padding-bottom: 100%;
}

/******/

/**微博content图标*/
.url-icon img {
  left: 10px;
  position: absolute;
  visibility: hidden;
}

/* 定义B站互动抽奖标签的样式 */
.bili-rich-text-module.lottery {
  display: inline-block;
  padding-left: 20px;
  /* 为图标留出空间 */
  position: relative;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 10px 20px;
  /* 根据你的SVG图标大小调整 */
  background-image: url('./../../img/icon/dynamic/bili-rich-text-module-lottery.svg');
  /* 引入SVG图标 */
}

/* 定义B站淘宝商品推广标签样式 */
.bili-rich-text-module.goods.taobao {
  display: inline-block;
  padding-left: 20px;
  /* 为图标留出空间 */
  position: relative;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px 20px;
  /* 根据你的SVG图标大小调整 */
  background-image: url('./../../img/icon/dynamic/bili-rich-text-module-goods-taobao.svg');
  /* 引入SVG图标 */
}