.content-text-title {
  margin-top: 10px;
}

.content {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.content img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/*自适应九宫格*/
.pic-content {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.pic-item {
  /*   flex: 1 0 calc(33.3333% - 10px); */
  margin: 2px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.pic-item:after {
  display: block;
  padding-bottom: 100%;
}

/******/

/**微博content图标*/
.url-icon img {
  left: 10px;
  position: absolute;
  visibility: hidden;
}

.bili-rich-text-module,
.surl-text {
  color: #008ac5;
}

/* 定义B站互动抽奖标签的样式 */
.bili-rich-text-module.lottery {
  display: inline-block;
  padding-left: 20px;
  /* 为图标留出空间 */
  position: relative;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px 20px;
  /* 根据你的SVG图标大小调整 */
  background-image: url('./../../img/icon/dynamic/bili-rich-text-module-lottery.svg');
  /* 引入SVG图标 */
}

/* 定义B站淘宝商品推广标签样式 */
.bili-rich-text-module.goods.taobao {
  display: inline-block;
  padding-left: 20px;
  /* 为图标留出空间 */
  position: relative;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px 20px;
  /* 根据你的SVG图标大小调整 */
  background-image: url('./../../img/icon/dynamic/bili-rich-text-module-goods-taobao.svg');
  /* 引入SVG图标 */
}

/* 定义B站投票标签样式 */
.bili-dyn-content__orig__additional {
  margin-top: 12px;
}

.bili-dyn-card-vote {
  background-color: rgba(246, 247, 248, 0.8);
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: 78px;
  height: 100%;
  overflow: hidden;
  border: 1px solid #ff69b4;
}

.bili-dyn-card-vote__header {
  flex-shrink: 0;
  padding: 25px;
  width: 78px;
  background-color: rgb(255, 255, 255);
}

.bili-dyn-card-vote__cover {
  align-items: center;
  background-color: #ffffff;
  border-radius: 4px;
  color: #008ac5;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
  /* 引入SVG图标 */
  background-image: url('./../../img/icon/dynamic/bili-dyn-card-vote__cover.svg');
}

.bili-dyn-card-vote__body,
.bili-dyn-card-vote__detail {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.bili-dyn-card-vote__detail {
  box-sizing: border-box;
  flex-direction: column;
  padding: 19px 16px 15px 20px;
}

.bili-dyn-card-vote__detail__title {
  color: #18191c;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.2s;
  white-space: nowrap;
  width: 100%;
}

.bili-dyn-card-vote__detail__desc {
  color: #9499a0;
  font-size: 12px;
  line-height: 17px;
  margin-top: 4px;
}

.bili-dyn-card-vote__action {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  margin-right: 16px;
  padding-right: 15px;
}

.bili-dyn-card-vote__action__btn_normal {
  background-color: #ff69b4;
  color: #ffffff;
}

.bili-dyn-card-vote__action button {
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 12.8px;
  height: 30px;
  min-width: 72px;
  outline: none;
}

/* 定义B站图文内视频链接标签样式 */
.bili-rich-text-link.video {
  display: inline-block;
  padding-left: 20px;
  color: #008ac5;
  /* 为图标留出空间 */
  position: relative;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px 20px;
  /* 根据你的SVG图标大小调整 */
  background-image: url('./../../img/icon/dynamic/bili-rich-text-link-video.svg');
  /* 引入SVG图标 */
}
